#hero {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: var(--primary);
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  background: var(--primary);
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: var(--primary-hover);
}

.btn.secondary {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn.secondary:hover {
  background: var(--primary);
  color: white;
}
